ext/math_link
ext/math_link2
ext/testwrapper
ext/HighLExtrapTemplate_lenspotentialCls.dat
ext/camb/*
ext/CosmicEmulator/*
ext/FrankenEmu/*
ext/halofit/*
ext/tf/*
ext/copter-0.8.7/*
ext/math_link_tm.c
ext/tags
doc/*log
doc/*aux
